<?php
$dbpw = 'DATABASE PASSWORD GOES HERE';
$dbname = 'farm';
// Try to connect to the farm database
try{
	$db = new PDO('mysql:dbname=farm;host=localhost', 'admin', $dbpw);
}
catch(PDOException $e){
	// If that didn't work, its probably because the farm database does exist
	// connect to mysql without specifying the database name
	$db = new PDO('mysql:host=localhost', 'admin', $dbpw);

	// Create the farm database
	$query = 'CREATE SCHEMA ' . $dbname;
	try{
	        $results = $db->query($query);
	}	
	catch(PDOException $e){
	        echo "Database Creation failed: " . $e->getMessage();
	}
	echo "Database created";
	
	// Close the old connection
	$db = null;

	// Now we can connect to the farm database
	$db = new PDO('mysql:dbname=farm;host=localhost', 'admin', $dbpw);
}

// Turn on useful exception handling for database errors
$db->setAttribute(PDO::ATTR_ERRMODE, PDO::ERRMODE_EXCEPTION);
?>
